---
name: test
on: pull_request
permissions: {}
jobs:
  status-check:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
